<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paket Layanan</title>
</head>
<body>
    <h1>Paket Layanan</h1>
 <table>
    <tr>
        <th>ID Paket Layanan</th>
        <th>Jenis Paket</th>
        <th>Keterangan Paket</th>
        <th>Harga</th>
    </tr>
    {%for item in allpaketlayananobj %}
    <tr>
        <td>{{ item.idpaketlayanan }}</td>
        <td>{{ item.jenispaket }}</td>
        <td>{{ item.keteranganpaket }}</td>
        <td>{{ item.harga }}</td>
        <td>
            <a href="{% url 'perbaruipaket' item.idpaketlayanan %}">
                <button>Update</button>
            </a>
            <a href="{% url 'hapuspaket' item.idpaketlayanan %}">
                <button>Delete</button>
            </a>
            
        </td>
    </tr>
    {% endfor %}
 </table>   
</body>
</html>