<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perbarui Data</title>
</head>
<body>
    <h1>Detail Layanan</h1>
    <table>
            <tr>
                <th>ID Pemesanan</th>
                <th>ID Detail Layanan</th>
                <th>Jenis Layanan</th>
                <th>Jenis Paket Pelanggan</th>
            </tr>
            {% for item in detail_layanan %}
            <tr>
                <td>{{ item.idpemesanan_id }}</td>
                <td>{{ item.iddetaillayanan }}</td>
                <td>{{ item.idlayanan.jenislayanan }}</td>
                <td>{{ item.idpemesanan.idpaketpelanggan.jenispaket }}</td>
            
                <td>   <a href="{% url 'updatedetail' item.iddetaillayanan %}">
                    <button>Update Detail Layanan</button>
                </a>

            </td>
            {% endfor %}
        </tr>
         
    </table>
</body>
</html>