<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pemesanan</title>
</head>
<body>
    <h1>Pemesanan</h1>
 <a href="{% url 'adddetaillayanan' %}"><button>
    Add Detail Layanan
 </button>
</a>
    <table>
    <tr>
        <th>ID Pemesanan</th>
        <th>Paket Pelanggan</th>
        <th>Nama</th>
        <th>Plat Nomor</th>
        <th>Tanggal Pesan</th>
        <th>Detail Layanan</th>
        <th>Action</th>
    </tr>
    {% for item in pemesanan %}
    <tr>
        <td>P_{{ item.0.idpemesanan }}</td>
        <td>{{ item.0.idpaketpelanggan.jenispaket }}</td>
        <!-- <td>{{ item.0.idlayanan.jenislayanan }}</td> -->
        <td>{{ item.0.nama }}</td>
        <td>{{ item.0.platnomor }}</td>
        <td>{{ item.0.tanggalpesan }}</td>
        <td>
            {% for x in item.1 %}
            <p>
                {{x.idlayanan.jenislayanan}}
            </p>
            {% endfor %}
        </td>
        <td>
            <a href="{% url 'perbarui' item.0.idpemesanan %}">
                <button>Update</button>
            </a>
            <a href="{% url 'detaillayanan' item.0.idpemesanan %}">
                <button>Detail Layanan</button>
            </a>
            <a href="{% url 'hapus' item.0.idpemesanan %}">
                <button>Delete</button>
            </a>
        </td>
    </tr>
    {% endfor %}
 </table>   
</body>
</html>