<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pemesanan</title>
</head>
<body>
    <h1>Pemesanan</h1>
 <table>
    <tr>
        <th>ID Pemesanan</th>
        <th>Paket Pelanggan</th>
        <th>Nama</th>
        <th>Plat Nomor</th>
        <th>Tanggal Pesan</th>
        <th>Action</th>
    </tr>
    {%for item in allpemesananobj %}
    <tr>
        <td>{{ item.idpemesanan }}</td>
        <td>{{ item.idpaketpelanggan }}</td>
        <td>{{ item.nama }}</td>
        <td>{{ item.platnomor }}</td>
        <td>{{ item.tanggalpesan }}</td>
        <td>
            <a href="{% url 'perbarui' item.idpemesanan %}">
                <button>Update</button>
            </a>
            <a href="{% url 'hapus' item.idpemesanan %}">
                <button>Delete</button>
            </a>
            
        </td>
    </tr>
    {% endfor %}
 </table>   
</body>
</html>